{% extends 'aquality/base.html'%} 
{% load static %}
{% block title%} Home{% endblock %} 


{% block content %}
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:14.0pt;line-height:107%;font-family:"Arial",sans-serif'>AQUALITY
2.0 TERMS &amp; SERVICE and PRIVACY POLICY<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-family:"Arial",sans-serif'>Last Updated 17/03/2021<o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
style='font-family:"Arial",sans-serif'>Effective Date 17/03/2021<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>CCCMI respects the privacy of our users. This
Privacy Policy explains</span><span lang=EN-US style='font-family:"Arial",sans-serif'>
</span><span lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:
"Arial",sans-serif'>how we collect, use, disclose, and safeguard your
information when you</span><span lang=EN-US style='font-family:"Arial",sans-serif'>
</span><span lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:
"Arial",sans-serif'>visit our mobile application. Please read this Privacy
Policy carefully.</span><span lang=EN-US style='font-family:"Arial",sans-serif'>
</span><span lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:
"Arial",sans-serif'>IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY,
PLEASE DO NOT</span><span lang=EN-US style='font-family:"Arial",sans-serif'> </span><span
lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>ACCESS
THE APPLICATION.</span><span lang=EN-US style='font-family:"Arial",sans-serif'><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>We reserve the right to make changes to this
Privacy Policy at any time and for any reason. We will alert you about any
changes by updating the “Last updated” date of this Privacy Policy. You are
encouraged to periodically review this Privacy Policy to stay informed of
updates. You will be deemed to have been made aware of, will be subject to, and
will be deemed to have accepted the changes in any revised Privacy Policy by your
continued use of the Application after the date such revised Privacy Policy is
posted. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>This Privacy Policy does not apply to the
third-party online/mobile store from which you install the Application or make
payments, including any in-game virtual items, which may also collect and use
data about you. We are not responsible for any of the data collected by any
such third party. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>This </span><span lang=EN-US><a
href="https://termly.io/resources/templates/privacy-policy-template/"><span
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>privacy
policy</span></a></span><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'> was created using Termly.<o:p></o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>COLLECTION OF YOUR INFORMATION<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>We may collect information about you in a
variety of ways. The information we may collect via the Application depends on
the content and materials you use, and includes:<o:p></o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Personal Data <o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>Demographic and other
personally identifiable information (such as your name and email address) that
you voluntarily give to us when choosing to participate in various activities
related to the Application, such as chat, posting messages in comment sections
or in our forums, liking posts, sending feedback, and responding to surveys. If
you choose to share data about yourself via your profile, online chat, or other
interactive areas of the Application, please be advised that all data you
disclose in these areas is public and your data will be accessible to anyone
who accesses the Application.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Derivative Data <o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>Information our servers
automatically collect when you access the Application, such as your native actions
that are integral to the Application, including liking, re-blogging, or
replying to a post, as well as other interactions with the Application and
other users via server log files.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Geo-Location Information<o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>We may request access or
permission to and track location-based information from your mobile device,
either continuously or while you are using the Application, to provide
location-based services. If you wish to change our access or permissions, you
may do so in your device’s settings.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Mobile Device Access <o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpMiddle><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>We may request access or
permission to certain features from your mobile device, including your mobile
device’s Bluetooth, calendar, camera microphone, reminders, sensors, storage,
and other features. If you wish to change our access or permissions, you may do
so in your device’s settings.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Mobile Device Data<span
style='mso-spacerun:yes'>  </span><o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpMiddle><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>Device information such as
your mobile device ID number, model, and manufacturer, version of your
operating system, phone number, country, location, and any other data you
choose to provide.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Push Notifications <o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpMiddle><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>We may request to send you
push notifications regarding your account or the Application. If you wish to
opt-out from receiving these types of communications, you may turn them off in
your device’s settings. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Third-Party Data <o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>Information from third
parties, such as personal information or network friends, if you connect your
account to the third party and grant the Application permission to access this
information.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Data <span class=GramE>From</span>
Contests, Giveaways, and Surveys<o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst><b><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpLast><span lang=EN-US style='font-size:12.0pt;
line-height:107%;font-family:"Arial",sans-serif'>Personal and other information
you may provide when entering contests or giveaways and/or responding to
surveys.<b><o:p></o:p></b></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>USE OF
YOUR INFORMATION<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>Having accurate information about you permits
us to provide you with a smooth, efficient, and customized experience.
Specifically, we may use information collected about you via the Application
to: <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>1. Compile anonymous statistical data and analysis for use internally or
with third parties. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>2. Create and manage your account.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>3. Email you regarding your account or order. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>4. Fulfill and manage purchases, orders, payments, and other transactions
related to the Application. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>5. Generate a personal profile about you to make future visits to the Application
more personalized. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>6. Increase the efficiency and operation of the Application. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>7. Monitor and analyze usage and trends to improve your experience with the
Application. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>8. Notify you of updates to the Application. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>9. Offer new products, services, mobile applications, and/or recommendations
to you. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>10. Perform other business activities as needed. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>11. Request feedback and contact you about your use of the Application.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>12. Resolve disputes and troubleshoot problems. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>13. Respond to product and customer service requests. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>14. Send you a newsletter. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>15. Solicit support for the Application.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>DISCLOSURE
OF YOUR INFORMATION<o:p></o:p></span></b></p>

<p class=MsoNormal align=left style='text-align:left'><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>We may
share information we have collected about you in certain<b> </b>situations.
Your information may be disclosed as follows:<b><o:p></o:p></b></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>By Law or to Protect Rights <o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>If we believe the release of information about
you is necessary to<b> </b>respond to legal process, to investigate or remedy
potential violations of our policies, or to protect the rights, property, and
safety of<b> </b>others, we may share your information as permitted or required
by any<b> </b>applicable law, rule, or regulation. This includes exchanging<b> </b>information
with other entities for fraud protection and credit risk<b> </b>reduction.<b><o:p></o:p></b></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Third-Party Service Providers <o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We may share your information with third parties that perform <span
class=GramE>services</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>for us or on our behalf, including payment processing, data analysis,<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>email delivery, hosting services, customer service, and marketing<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>assistance.<o:p></o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Third-Party Advertisers <o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We may use third-party advertising companies to serve ads when you <span
class=GramE>visit</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>the Application. These companies may use information about your <span
class=GramE>visits</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>to the Application and other websites that are contained in web cookies<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>in order to provide advertisements about goods and services of interest<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>to you.<o:p></o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Affiliates <o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We may share your information with our affiliates, in which case we <span
class=GramE>will</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>require those affiliates to honor this Privacy Policy. Affiliates<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>include our parent company and any subsidiaries, joint venture <span
class=GramE>partners</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>or other companies that we control or that are under common control with<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>us.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Business Partners</span></b><span
lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>
<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We may share your information with our business partners to offer <span
class=GramE>you</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>certain products, services or promotions.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Other Third Parties</span></b><span
lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>
<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We may share your information with advertisers and investors for the<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>purpose of conducting general business analysis. We may also share your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>information with such third parties for marketing purposes, as <span
class=GramE>permitted</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>by law.<o:p></o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Sale or Bankruptcy</span></b><span
lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>
<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>If we reorganize or sell all or a portion of our assets, undergo a<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>merger, or are acquired by another entity, we may transfer your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>information to the successor entity. If we go out of business or enter<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>bankruptcy, your information would be an asset transferred or <span
class=GramE>acquired</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>by a third party. You acknowledge that such transfers may occur and <span
class=GramE>that</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>the transferee may decline honor commitments we made in this <span
class=GramE>Privacy</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>Policy.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We are not responsible for the actions of third parties with whom <span
class=GramE>you</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>share personal or sensitive data, and we have no authority to manage or<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>control third-party solicitations. If you no longer wish to receive<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>correspondence, emails or other communications from third parties, you<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>are responsible for contacting the third party directly.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>TRACKING
TECHNOLOGIES<o:p></o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Cookies and Web Beacons</span></b><span
lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We may use cookies, web beacons, tracking pixels, and other <span
class=GramE>tracking</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>technologies on the Application to help customize the Application and<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>improve your experience. When you access the Application, your personal<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>information is not collected <span class=GramE>through the use of</span>
tracking technology.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>Most browsers are set to accept cookies by default. You can remove or<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>reject cookies, but be aware that such action could affect the<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>availability and functionality of the Application. You may not <span
class=GramE>decline</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>web beacons. However, they can be rendered ineffective by declining <span
class=GramE>all</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>cookies or by modifying your web browser’s settings to notify you <span
class=GramE>each</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>time a cookie is tendered, permitting you to accept or decline <span
class=GramE>cookies</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>on an individual basis.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>You should be aware that getting a new computer, installing a new<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>browser, upgrading an existing browser, or erasing or otherwise <span
class=GramE>altering</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>your browser’s cookies files may also clear certain opt-out cookies,<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>plug-ins, or settings.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>THIRD-PARTY
WEBSITES<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>    </span><span
style='mso-spacerun:yes'>    </span>The Application may contain links to
third-party websites and<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>applications of interest, including advertisements and <span
class=GramE>external</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>services, that are not affiliated with us. Once you have used these<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>links to leave the Application, any information you provide to <span
class=GramE>these</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>third parties <span class=GramE>is</span> not covered by this Privacy
Policy, and we cannot<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>guarantee the safety and privacy of your information. Before <span
class=GramE>visiting</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>and providing any information to any third-party websites, you should<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>inform yourself of the privacy policies and practices (if any) of the<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>third party responsible for that website, and should take those <span
class=GramE>steps</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>necessary to, in your discretion, protect the privacy of your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>information. We are not responsible for the content or privacy and<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>security practices and policies of any third parties, including <span
class=GramE>other</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>sites, services or applications that may be linked to or from the<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>Application.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>SECURITY
OF YOUR INFORMATION<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We use administrative, technical, and physical security measures to <span
class=GramE>help</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>protect your personal information. While we have taken reasonable steps<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>to secure the personal information you provide to us, please be <span
class=GramE>aware</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>     </span><span
style='mso-spacerun:yes'>   </span>that despite our efforts, no security
measures are perfect or<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>impenetrable, and no method of data transmission can be <span
class=GramE>guaranteed</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>against any interception or other type of misuse. Any information<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>disclosed online is vulnerable to interception and misuse by<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>unauthorized parties. Therefore, we cannot guarantee complete <span
class=GramE>security</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>if you provide personal information.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>POLICY
FOR CHILDREN<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>We do not knowingly solicit information from or market to children under<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>the age of 18. If you become aware of any <span class=GramE>data</span>
we have collected from<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>children under age 18, please contact us using the contact <span
class=GramE>information</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>provided below.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>CONTROLS
FOR DO-NOT-TRACK FEATURES<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>Most web browsers and some mobile operating systems [and our mobile<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>applications] include a Do-Not-Track (“DNT”) feature or setting you <span
class=GramE>can</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>activate to signal your privacy preference not to have data about your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>online browsing activities monitored and collected. No uniform<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>technology standard for recognizing and implementing DNT signals <span
class=GramE>has</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>been finalized. As such, we do not currently respond to DNT <span
class=GramE>browser</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>signals or any other mechanism that automatically communicates your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>choice not to be tracked online. If a standard for online tracking is<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>adopted that we must follow in the future, we will inform you about <span
class=GramE>that</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>practice in a revised version of this Privacy Policy.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>OPTIONS
REGARDING YOUR INFORMATION<o:p></o:p></span></b></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Account Information</span></b><span
lang=EN-US style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>You may at any time review or change the information in your account or<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>terminate your account by: <span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>a. Logging into your account settings and updating your <span
class=GramE>account</span> <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>b. Contacting us using the contact information provided <span
class=GramE>below</span> <span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>Upon your request to terminate your account, we will deactivate or<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>delete your account and information from our active databases. However,<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>some information may be retained in our files to prevent fraud,<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>troubleshoot problems, assist with any investigations, enforce our <span
class=GramE>Terms</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>of Use and/or comply with legal requirements.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;line-height:
107%;font-family:"Arial",sans-serif'>Emails and Communications<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>If you no longer wish to receive correspondence, emails, or <span
class=GramE>other</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>communications from us, you may opt-out by: a. Noting your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>preferences at the time you register your account with the <span
class=GramE>Application</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>        </span><span
style='mso-spacerun:yes'> </span>b. Logging into your account settings and updating
your<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>preferences. c. Contacting us using the contact information<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>provided <span class=GramE>below</span> <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>If you no longer wish to receive correspondence, emails, or <span
class=GramE>other</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>       
</span>communications from third parties, you are responsible for <span
class=GramE>contacting</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><span style='mso-spacerun:yes'>  </span><span
style='mso-spacerun:yes'>      </span>the third party directly.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-US
style='font-size:12.0pt;line-height:107%;font-family:"Arial",sans-serif'>CONTACT
US<o:p></o:p></span></b></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>If you have questions or comments about this
Privacy Policy, <span class=GramE>please<span style='mso-spacerun:yes'> 
</span>contact</span> us at: <span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>CCCMI Dundalk Institute of Technology <span
style='mso-spacerun:yes'> </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>Marshes Upper <span
style='mso-spacerun:yes'> </span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%;
font-family:"Arial",sans-serif'>Dundalk<o:p></o:p></span></p>

</div>

{% endblock content%}