<html lang="en-us" >
<head>
<title>Aquality V2.0 Administration</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<body>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="{% url 'aquality_admin:indexPage' %}">Aquality V2.0 Administration</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>tunjing998</strong>.
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
        </div>

    </div>
    <!-- END Header -->
    <div class="main shifted" id="main">
      <div class="content">
        
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
